<div class="container user-newApplicationBackground">
    <mat-card class="newApplication_card">
        <mat-card-header>
            <mat-card-title>Search: New Application</mat-card-title>
        </mat-card-header>

        <span style="font-style: italic;">Hint: Ensure to use the correct title number or parcel number</span>

        <mat-card-content>
            <mat-horizontal-stepper role="tablist" linear #stepper="matStepper">
                <!-- <mat-horizontal-stepper linear #stepper> -->
                <!-- Step 1: FAQs -->
                <mat-step>
                    <ng-template matStepLabel>FAQs</ng-template>

                    <div class="section_header">
                        <h4 class="title">Frequently Asked Questions</h4>
                    </div>

                    <p class="disclaimer">
                        <b>
                            <a href="https://www.youtube.com/watch?v=Me2bB3neOm0&t=2s" target="_blank">
                                Click on this Youtube Link for a step by step guide on a Search application
                            </a>
                        </b>
                    </p>

                    <mat-accordion class="mat-accordion details_accordion">
                        <!-- <mat-expansion-panel *ngFor="let faq of faqs; let i = index" [expanded]="faq.expanded" (opened)="toggleFAQ(i)"> -->
                        <mat-expansion-panel *ngFor="let faq of faqs; let i = index" class="mat-expansion-panel">
                            <mat-expansion-panel-header class="accordion_header">
                                <mat-panel-title class="mat-expansion-panel-header-title">
                                    <strong>{{ faq.question }}</strong>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="mat-expansion-panel-content">
                                <div class="mat-expansion-panel-body">
                                    <p> {{ faq.answer }} </p>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>

                    <div class="button-group row_section ">
                        <button mat-raised-button color="primary" matStepperNext class="form_button next_btn">
                            Next
                        </button>
                    </div>
                </mat-step>

                <!-- Step 2: Search Details -->
                <mat-step>
                    <ng-template matStepLabel>Search details</ng-template>

                    <form [formGroup]="searchForm">
                        <div class="section_header">
                            <h4 class="title">Search details</h4>
                        </div>
                        <div class="row_section row_section_margins">
                            <div fxFlex="50">
                                <!-- <div>
                                    <label>Select type of search to conduct</label>
                                    <span aria-required="true" class="required"> *</span>
                                    <br>
                                    <mat-radio-group formControlName="search_type" role="radiogroup">
                                        <mat-radio-button value="PARCEL_SEARCH" class="radio_btn">
                                            Parcel search
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div> -->
                                <!-- 
                                <br> -->

                                <form novalidate="" [formGroup]="parcelsForm" class="parcel_form">
                                    <label>Enter parcel number </label>
                                    <span aria-required="true" class="required"> *</span>
                                    <!-- <br> -->
                                    <br>
                                    <mat-form-field appearance="outline" class="form_field">
                                        <input matInput placeholder="e.g. NAIROBI/BLOCK48/56" formControlName="parcel_number" type="text" required>
                                        <mat-error *ngIf="parcelNumberControl?.invalid && parcelNumberControl?.touched">
                                            Enter parcel number
                                        </mat-error>
                                    </mat-form-field>

                                    <div style="display: flex; justify-content: space-between; width: 90%;">
                                        <!-- <span class="helper_text">A maximum of 50</span> -->
                                        <button mat-raised-button color="primary" id="add_parcel" class="form_button" [disabled]="!parcelNumberControl?.value || parcels.length > 0" (click)="addParcel()" type="button">
                                            Add Parcel
                                        </button>
                                    </div>
                                </form>

                                <div class="table-responsive">
                                    <table mat-table [dataSource]="parcelsDataSource" class="file_upload_form">
                                        <ng-container matColumnDef="no">
                                            <th mat-header-cell *matHeaderCellDef> No. </th>
                                            <!-- <td mat-cell *matCellDef="let element" ,let i=i ndex> {{i}}</td> -->
                                            <td mat-cell *matCellDef="let element; let i = index">
                                                {{ i + 1 }}
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="parcel">
                                            <th mat-header-cell *matHeaderCellDef> Parcel </th>
                                            <td mat-cell *matCellDef="let element"> {{element.parcel_number}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="action">
                                            <th mat-header-cell *matHeaderCellDef> Action </th>
                                            <td mat-cell *matCellDef="let element">
                                                <button mat-stroked-button (click)="removeParcel(element.id)">
                                                    Remove
                                                </button>
                                            </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="parcelColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: parcelColumns;"></tr>
                                    </table>
                                </div>
                            </div>

                            <div fxFlex>
                                <div>
                                    <label>Select County</label><span class="required"> *</span>
                                    <mat-form-field appearance="outline" class="form_field">
                                        <mat-label>Choose County</mat-label>
                                        <mat-select formControlName="county">
                                            <mat-option>-- Select County --</mat-option>
                                            <mat-option *ngFor="let county of counties" [value]="county">
                                                {{ county }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="searchForm.get('county')?.errors?.['required']">
                                            County is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                                <div><label>Select Registry</label><span class="required"> *</span>
                                    <mat-form-field appearance="outline" class="form_field">
                                        <mat-label>Choose Registry</mat-label>
                                        <mat-select formControlName="registry">
                                            <mat-option>-- Select Registry --</mat-option>
                                            <mat-option *ngFor="let registry of filteredRegistries" [value]="registry">
                                                {{ registry }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="searchForm.get('registry')?.errors?.['required']">
                                            Registry is required
                                        </mat-error>
                                        <mat-hint *ngIf="!filteredRegistries.length && searchForm.get('county')?.value">
                                            No registries available for selected county
                                        </mat-hint>
                                    </mat-form-field>
                                </div>

                                <div><label>Enter the purpose of search:</label>
                                    <span aria-required="true" class="required"> *</span>
                                    <br>
                                    <mat-form-field appearance="outline" class="form_field">
                                        <textarea matInput placeholder="Purpose of search" formControlName="purpose_of_search" required></textarea>
                                        <mat-error *ngIf="purposeOfSearchControl?.invalid && purposeOfSearchControl?.touched">
                                            Enter the purpose of search
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <!-- 
                                <div><label>Select scope of search</label>
                                    <span aria-required="true" class="required"> *</span>
                                    <br>
                                    <mat-radio-group formControlName="search_scope" role="radiogroup">
                                        <mat-radio-button value="ACTIVE" class="radio_btn">
                                            Particulars of the subsisting entries in the register of the above-mentioned parcel
                                        </mat-radio-button>
                                        <br>
                                        <mat-radio-button value="ALL" class="radio_btn">
                                            Particulars noted on the Property section / Proprietorship section<br> / Encumbrance section / Power of attorney register / Registered documents register
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div> -->
                                <br>
                            </div>
                        </div>

                        <div class="button-group row_section ">
                            <button mat-button matStepperPrevious class="form_button back_btn">
                                Back
                            </button>
                            <button mat-raised-button color="primary" matStepperNext class="form_button next_btn" [disabled]="!searchForm.get('purpose_of_search')?.value || parcels.length === 0">
                                Next
                            </button>
                        </div>
                    </form>
                </mat-step>

                <!-- Step 3: Documents -->
                <mat-step>
                    <ng-template matStepLabel>Documents</ng-template>

                    <div class="section_header">
                        <h4 class="title">Attach Documents</h4>
                    </div>

                    <div class="row_section_margins">
                        <form [formGroup]="documentsForm" novalidate enctype="multipart/form-data">
                            <div class="row_section">
                                <div fxFlex>
                                    <div class="file_upload_form">
                                        <label>Enter additional document name and upload (if any):</label>
                                        <br>
                                        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
                                            <div fxFlex="75" fxFlex.xs="65">
                                                <mat-form-field appearance="outline" class="file-input-field full-width">
                                                    <mat-label>Document name</mat-label>
                                                    <input matInput id="file_input" type="text" placeholder="document name" formControlName="document_name">
                                                </mat-form-field>
                                            </div>
                                            <div fxFlex>
                                                <button mat-raised-button color="primary" id="upload_other_doc" class="upload-button" (click)="documentUpload.click()">
                                                        <mat-icon>attach_file</mat-icon>
                                                        Choose file
                                                    </button>
                                                <input #documentUpload hidden id="otherFiles" type="file" (change)="onFileSelected($event)">
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div fxFlex>
                                    <table mat-table [dataSource]="documentsDataSource" class="mat-sort">
                                        <ng-container matColumnDef="no">
                                            <th mat-header-cell *matHeaderCellDef> # </th>
                                            <!-- <td mat-cell *matCellDef="let element"> {{element.id}} </td> -->
                                            <td mat-cell *matCellDef="let element; let i = index">
                                                {{ i + 1 }}
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="document">
                                            <th mat-header-cell *matHeaderCellDef> Uploaded Documents </th>
                                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="action">
                                            <th mat-header-cell *matHeaderCellDef> Action </th>
                                            <td mat-cell *matCellDef="let element">
                                                <button mat-stroked-button (click)="removeDocument(element.id)">
                                                    Remove
                                                </button>
                                            </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="documentColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: documentColumns;"></tr>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="button-group row_section ">
                        <button mat-raised-button color="primary" matStepperPrevious class="form_button back_btn">
                            Back
                        </button>
                        <button mat-raised-button color="primary" matStepperNext class="form_button next_btn">
                            Next
                        </button>
                    </div>
                </mat-step>

                <!-- Step 4: Confirmation -->
                <mat-step>
                    <ng-template matStepLabel>Confirmation</ng-template>

                    <div class="section_header">
                        <h4 class="title">Confirmation</h4>
                    </div>

                    <div class="row_section_margins" style="display: flex; gap:20px">
                        <div fxFlex="50" class="table-responsive">
                            <table class="table2 table_borders">
                                <tr>
                                    <td class="header"><strong>Applicant:</strong></td>
                                    <td> {{ currentUser.username | titlecase }}, ID NO. {{currentUser.id}} </td>
                                </tr>
                                <tr>
                                    <td class="header"><strong>County</strong></td>
                                    <td> {{ searchForm.get('county')?.value }}</td>
                                </tr>
                                <tr>
                                    <td class="header"><strong>Registry</strong></td>
                                    <td> {{ searchForm.get('registry')?.value }}</td>
                                </tr>
                                <tr>
                                    <td class="header"><strong>Type of search:</strong></td>
                                    <td> Parcel search </td>
                                </tr>
                                <tr>
                                    <td class="header"><strong>Purpose of search:</strong></td>
                                    <td> {{ searchForm.get('purpose_of_search')?.value }} </td>
                                </tr>
                                <tr>
                                    <td class="header"><strong>Scope of search:</strong></td>
                                    <td>
                                        {{ getScopeDescription(searchForm.get('search_scope')?.value) }}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div fxFlex="50" class="table-responsive">
                            <table class="table2 table_borders">
                                <tr>
                                    <td class="header" style="text-align: center;"><strong>No.</strong></td>
                                    <td class="header" style="text-align: center;"><strong>Parcel</strong></td>

                                </tr>
                                <tr *ngFor="let parcel of parcels, let i = index ">
                                    <td style="text-align: center;"> {{ i + 1 }}</td>
                                    <td style="text-align: center;"> {{ parcel.parcel_number }} </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="section_header ">
                        <h4 class="title ">Attached Documents</h4>
                    </div>

                    <div class="row_section_margins ">
                        <div fxFlex="50 " class="table-responsive ">
                            <table class="table2 table_borders ">
                                <tr *ngFor="let doc of documents, let i = index">
                                    <td class="header "><strong>Document {{ i + 1 }}:</strong></td>
                                    <td> {{ doc.name }} </td>
                                </tr>
                                <tr *ngIf="documents.length===0 ">
                                    <td colspan="2 ">No documents attached</td>
                                </tr>
                            </table>
                        </div>
                        <div fxFlex></div>
                    </div>

                    <div class="button-group row_section ">
                        <button mat-raised-button color="primary " matStepperPrevious class="form_button back_btn ">
                            Back
                        </button>
                        <button mat-raised-button color="primary " id="submit_request " matStepperNext class="form_button next_btn " (click)="submitApplication() ">
                            Submit
                        </button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </mat-card-content>
    </mat-card>
</div>