<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="sidebar-container">
    <div class="sidebar-content">
        <a routerLink="/" class="logo-container">
            <img src="./assets/svgs/nlims_logo.svg" class="logo-img" alt="NLIMS Logo">
        </a>
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
                <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
                    <i class="material-icons">tv</i>
                    Dashboard
                </a>
            </li>
            <li class="mb-1">
                <a routerLink="/applications" routerLinkActive="active" class="nav-item">
                    <i class="material-icons">note_add</i>
                    Applications
                </a>
            </li>
            <li class="mb-1">
                <a routerLink="/flag-parcel" routerLinkActive="active" class="nav-item">
                    <i class="material-icons">flag</i>
                    Flag Parcel
                </a>
            </li>

            <li class="mb-1">
                <button class="btn-toggle" (click)="toggleCollapse('resources-collapse')" [class.expanded]="expandedMenus['resources-collapse']">
                    <i class="material-icons">assessment</i>
                    Resources
                </button>
                <div class="collapse" [class.show]="expandedMenus['resources-collapse']">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a routerLink="/user-guide" routerLinkActive="active" class="rounded"><i class="material-icons">layers</i>User Guide</a></li>
                        <li><a routerLink="/fingerprint" routerLinkActive="active" class="rounded"><i class="material-icons">fingerprint</i>Finger Print</a></li>
                        <li><a routerLink="/land-forms" routerLinkActive="active" class="rounded"><i class="material-icons">archive</i>Land Forms</a></li>
                        <li><a routerLink="/approved-survey-plans" routerLinkActive="active" class="rounded"><i class="material-icons">view_agenda</i>Approved Survey Plans</a></li>
                        <li><a routerLink="/pdp-approved-plans" routerLinkActive="active" class="rounded"><i class="material-icons">list</i>PDP Approved Plan</a></li>
                        <li><a routerLink="/verify-parcels" routerLinkActive="active" class="rounded"><i class="material-icons">folder</i>Verify Converted Parcel Numbers</a></li>
                        <li><a routerLink="/search-application" routerLinkActive="active" class="rounded"><i class="material-icons">search</i>Search Application</a></li>
                    </ul>
                </div>
            </li>

            <li class="mb-1">
                <button class="btn-toggle" (click)="toggleCollapse('staff-collapse')" [class.expanded]="expandedMenus['staff-collapse']">
                    <i class="material-icons">format_list_bulleted</i>
                    Staff Management
                </button>
                <div class="collapse" [class.show]="expandedMenus['staff-collapse']">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a routerLink="/officers" routerLinkActive="active" class="rounded"><i class="material-icons">group</i>Officers</a></li>
                        <li><a routerLink="/teams" routerLinkActive="active" class="rounded"><i class="material-icons">group</i>Teams</a></li>
                    </ul>
                </div>
            </li>

            <li class="mb-1">
                <button class="btn-toggle" (click)="toggleCollapse('communications-collapse')" [class.expanded]="expandedMenus['communications-collapse']">
                    <i class="material-icons">forum</i>
                    Communications
                </button>
                <div class="collapse" [class.show]="expandedMenus['communications-collapse']">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a routerLink="/notices" routerLinkActive="active" class="rounded"><i class="material-icons">event_note</i>Notices</a></li>
                        <li><a routerLink="/staff-memo" routerLinkActive="active" class="rounded"><i class="material-icons">mail</i>Staff Memo</a></li>
                        <li><a routerLink="/notifications" routerLinkActive="active" class="rounded"><i class="material-icons">notifications</i>Notifications</a></li>
                    </ul>
                </div>
            </li>

            <li class="mb-1">
                <button class="btn-toggle" (click)="toggleCollapse('land-processes-collapse')" [class.expanded]="expandedMenus['land-processes-collapse']">
                    <i class="material-icons">receipt</i>
                    Land Processes
                </button>
                <div class="collapse" [class.show]="expandedMenus['land-processes-collapse']">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a routerLink="/tickets" routerLinkActive="active" class="rounded"><i class="material-icons">payment</i>Tickets</a></li>
                        <li><a routerLink="/analytics" routerLinkActive="active" class="rounded"><i class="material-icons">payment</i>Analytics</a></li>
                    </ul>
                </div>
            </li>

            <li class="border-top my-3"></li>

            <li class="mb-1">
                <a routerLink="/configurations" routerLinkActive="active" class="nav-item">
                    <i class="material-icons">build</i>
                    Configurations
                </a>
            </li>

            <li class="mb-1">
                <a routerLink="/profile" routerLinkActive="active" class="nav-item">
                    <i class="material-icons">account_circle</i>
                    Account
                </a>
            </li>

            <li class="mb-1">
                <a href="#" class="nav-item" (click)="logout($event)">
                    <i class="material-icons">logout</i>
                    Logout
                </a>
            </li>
        </ul>
    </div>
</div>
