// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$search-module-primary: mat.define-palette(mat.$indigo-palette);
$search-module-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
// The warn palette is optional (defaults to red).
$search-module-warn: mat.define-palette(mat.$red-palette);
// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$search-module-theme: mat.define-light-theme(( color: ( primary: $search-module-primary, accent: $search-module-accent, warn: $search-module-warn, ), typography: mat.define-typography-config(), density: 0));
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($search-module-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

.mat-mdc-raised-button:disabled,
.mat-mdc-unelevated-button:disabled {
    // background-color: #cccccc !important;
    color: #8B4513 !important;
}

.mat-mdc-button:not(:disabled) {
    color: #8B4513 !important;
}

.mat-mdc-raised-button:not(:disabled),
.mat-mdc-unelevated-button:not(:disabled) {
    background: #8B4513 !important;
}

.mat-mdc-raised-button:hover:not(:disabled) {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important;
}