    .application-header-details {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        font-weight: 550;
        font-size: large
    }
    
    .tab-content {
        padding-top: 20px;
    }
    
    .section_header {
        .title {
            background: #f5f5f5;
            padding: 16px;
            border-radius: 4px;
            font-weight: 600;
        }
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
        margin: 16px 0;
        th,
        td {
            padding: 12px;
            text-align: center;
            border: 1px solid #e0e0e0;
            border-bottom: 1px solid #e0e0e0 !important;
        }
        th {
            background: #f5f5f5;
            font-weight: 500;
        }
        &.application-details-table {
            width: 50%;
            td,
            th {
                text-align: left;
            }
            .header {
                width: 30%;
            }
        }
    }
    
    button {
        margin-right: 8px;
    }
    
    .payment-details {
        margin-top: 50px;
        margin-left: 50px;
        .applicant-payment-info {
            margin-top: 50px;
        }
        .mock-payment-btn {
            margin-top: 20px;
        }
    }
    
    //Remarks
    .remarks {
        margin: 0 auto;
        padding: 5px;
        .comments-section {
            margin-bottom: 25px;
        }
        .remark {
            background: #e3f2fd;
            padding: 15px;
            border-left: 4px solid #1976d2;
            margin: 15px 0;
            border-radius: 4px;
        }
        .recommendations {
            background: #fff8e1;
            padding: 15px;
            border-left: 4px solid #ffa000;
            margin: 15px 0;
            border-radius: 4px;
        }
        .remark-date {
            text-align: right;
            font-style: italic;
            color: #666;
            margin-top: 10px;
            font-size: 12px;
        }
    }