.application-header-details {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-weight: 550;
    font-size: large
}

.tab-content {
    padding-top: 20px;
}

.section_header {
    .title {
        background: #f5f5f5;
        padding: 16px;
        border-radius: 4px;
        font-weight: 600;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 16px 0;
    th,
    td {
        padding: 12px;
        text-align: center;
        border: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0 !important;
    }
    th {
        background: #f5f5f5;
        font-weight: 500;
    }
    &.application-details-table {
        width: 50%;
        td,
        th {
            text-align: left;
        }
        .header {
            width: 30%;
        }
    }
}

button {
    margin-right: 8px;
}

.payment-details {
    margin-top: 50px;
    margin-left: 50px;
    .applicant-payment-info {
        margin-top: 50px;
    }
    .mock-payment-btn {
        margin-top: 20px;
    }
}