.login_card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    // padding: 12px;
    width: 50%;
    mat-card-header {
        margin-bottom: 16px;
    }
    mat-card-content {
        padding: 24px;
    }
}

.logo_container {
    text-align: center;
    margin: 20px 0;
    .logo-img {
        max-width: 150px;
        height: auto;
    }
}

form {
    width: 100%;
    padding-top: 30px;
    display: block;
    .form_field {
        width: 100%;
    }
    .other_details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        gap: 10px;
        flex-wrap: wrap;
        font-size: small;
    }
    /* For smaller devices */
    @media (max-width: 768px) {
        .other_details {
            flex-direction: column;
            gap: 10px;
            text-align: center;
        }
    }
}