<mat-card class="login-card">

    <mat-card-header class="login-header">
        <mat-card-title class="login-title" style="text-align: center;">Login</mat-card-title>
    </mat-card-header>

    <mat-divider role="separator"></mat-divider>

    <div class="logo_container">
        <div><img src="https://ardhisasa.lands.go.ke/assets/img/logo.svg" alt="MoLPP Logo" class="logo-img" tabindex="0"></div>
    </div>

    <mat-card-content>

        <form novalidate [formGroup]="loginForm" class="login-form">
            <div class="form-group">
                <label class="form-label">Identification Number or Ardhisasa ID</label>
                <mat-form-field appearance="outline" class="form-field">
                    <input matInput formControlName="username" id="emailOrPhone" placeholder="Enter Identification number" type="text" required aria-required="true">
                    <mat-error>Enter Identification Number</mat-error>
                </mat-form-field>
            </div>

            <div class="form-group">
                <label for="password" class="form-label">Password</label>
                <mat-form-field appearance="outline" class="form-field">
                    <input matInput formControlName="password" id="password" placeholder="Enter password" required [type]="hidePassword ? 'password' : 'text'" aria-required="true">
                    <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <mat-error>This field is required</mat-error>
                </mat-form-field>
            </div>

            <button mat-raised-button color="primary" class="login-button" type="submit" [disabled]="isLoading || !loginForm.get('password')?.value" (click)="onSubmit()">
                <span *ngIf="!isLoading">Login</span>
                <div *ngIf="isLoading" class="loading-spinner">
                    <mat-spinner diameter="20"></mat-spinner>
                    <span>Signing In...</span>
                </div>
            </button>

            <!-- Links Section -->
            <div class="links-section">
                <div class="signup-option">
                    <span class="text-muted">Don't have an account? </span>
                    <a routerLink="/account/public-registration" class="link"> Register here</a>
                </div>
                <div class="link-group">
                    <a routerLink="/home" class="link">
                        <mat-icon>home</mat-icon> Back to home</a>
                    <a routerLink="/account/forgot-password" class="link">
                        <mat-icon>help</mat-icon> Forgot your password?
                    </a>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>