name: Deploy Angular Apps to GitHub Pages

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - name: Install dependencies
      run: npm ci

    - name: Build Public App
      run: npm run build:public

    - name: Build Staff App  
      run: npm run build:staff

    - name: Setup Pages
      uses: actions/configure-pages@v3

    - name: Upload Public Artifact
      uses: actions/upload-pages-artifact@v2
      with:
        path: dist/public

    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v2
